$font-family: 'Kumbh Sans', sans-serif;
$font-size: 12px;
$color-title: hsl(237, 12%, 33%);
$color-title-selected: hsl(238, 29%, 16%);
$color-paragraph: hsl(240, 6%, 50%);
$link-hover: hsl(14, 88%, 65%);
$bg-violet: hsl(273, 75%, 66%);
$bg-blue: hsl(240, 73%, 65%);
$dividers: hsl(240, 5%, 91%);
$bg-white: hsl(0, 0%, 100%);
$layout-breakpoint-tablet: 768px;
$layout-breakpoint-desktop: 920px;

